$primary : #f3dbdb;
$secondary : #000000;
$aside-font-size : 20px;
$main-font-size : 50px;
$second-font-size : 30px;
$num-font-size: 45px;

.divider{
  width: 100%;
  height: 1px;
  background-color: $secondary;
  margin: 1.5rem 0;
}
#aside-home{
  font-size: $aside-font-size;
  border-radius: 50%;
  border: 4px solid $primary;
  padding: 5px 50px;
  margin-bottom: 5.6rem;
}

#aside-list{
  .aside-list-items{
    margin-bottom: 2.5rem;
  }
}

#water{
  font-size: $main-font-size;
}

#energy{
  font-size: $main-font-size;
}
#aside-right-up{
  padding-left: 0px ;
  padding-right: 0px ;

}
.aside-right{
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;

}
#bell-color{
  background-color: $primary;
  width: 15px;height: 15px;border: 1px solid black;border-radius: 50%;
  top: -10%;
  right: -10%;
}

#input:focus{
  outline: none !important;
}

#two-six,#two-zero{
  font-size: $num-font-size;
}

#quick-a{
  font-size: $second-font-size;
}

@media screen and (max-width: 1400px){
  #search-input{
    padding-left: 10px !important;
  }
  .aside-right{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

@media screen and (max-width: 1024px){
  .aside-right{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 2rem;
  }
  #search-input{
    padding-left: 10px !important;
  }
}

@media screen and (max-width: 1024px){
  .aside-right{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 2rem;
  }
  #search-input{
    padding-left: 10px !important;
  }
  #center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 780px){
  #aside-home{
    margin-bottom: 1rem !important;
    font-size: 20px !important;
    border: 1px solid $primary;
    padding: 5px 25px !important;
    width: auto !important;
  }
  .aside-list-items{
    margin-bottom: 0rem !important;
    margin-right: 20px !important;
  }
  #aside-home-up {
    padding-top: 0 !important;
    padding: 20px 10px !important;
  }
  #aside-list{
    margin-bottom: 0 !important;
  }
  #center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}

@media screen and (max-width: 750px) {
  #aside-right-up{
    transform: translateX(-100%);
    position: absolute;
    transition: 0.5s;
    padding-right: 0px !important;
  }
  .aside-right-up-show{
    transform: translateX(0%) !important;
  }
  .aside-right{
    padding-right:40px !important;
    padding-left:40px !important;
  }
}

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
